// Typography
$font-color: #000;

// Primary Colors
$theme-bg: #c0c0c0;
$theme-font-color: #fff;

// Panels
$titlebar-dark: #000080; // dark blue
$titlebar-light: #1084d0; // lighter blue
$titlebar-font-color: #fff;

$panel-default-border: yellow;
$panel-inner-border: red;

// Buttons

// Forms
$input-border: red blue;

// Buttons
