// Global
$body-bg:                 #008080;
$spacer:                  12px;

// Typography
$font-color:              #000;
$font-family:             'MS Sans Serif';

// Window
$container-bg:            #c0c0c0;

// Window Toolbars
$container-toolbar-dark:  #008080;
$container-toolbar-light: #1084d0;
$container-toolbar-text:  #fff;

// Popup Window
$window-width:            489px;
$window-padding:          $spacer;
